<html>
    <head>
        <title>Soccer Clubs Database</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/games">Welcome!</a>
    </nav>
    <body>
    {{{body}}}
    </body>
</html>